* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.announcement-main {
  height: 200vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/adu-campus.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: gray;
  overflow: scroll;
}

.announcement-container {
  height: 90%;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 2%;
  border: 1px solid black;
  overflow: scroll;
}
