* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container-socialflow {
  width: 100vw;
  height: 92vh;
  background-color: rgb(85, 85, 155);
  background-image: url("../assets/adu-campus.jpg");
  background-size: cover;
  background-color: grey;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainframe {
  width: 60%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 3px,
        transparent 3px
      )
      0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
      100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
      0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100%
      100%/8px 8px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
      calc(100% - 16px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
      calc(100% - 10px) no-repeat,
    linear-gradient(211deg, #ff008e 0%, #46a8c3 100%);
  box-sizing: border-box;
}

.left-mainframe {
  width: 25%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid black;
  padding: 2em;
}

.right-mainframe {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid black;
  flex-direction: column;
}

.mid-mainframe {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-right: 1px black;
  border-radius: 20px;
  padding: 0.5em;
}

.upper-mid {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border-radius: 20px;
}

.text-input {
  width: 85%;
  height: 15vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  row-gap: 5px;
}

.main-mid {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-radius: 20px;
}

.right-input {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid;
}

.right-textbox-field {
  width: 80%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-window {
  width: 100%;
  height: 80vh;
}
ul {
  list-style: none;
}

.post-form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  border-radius: 10px;
  background-color: white;
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 3px,
        transparent 3px
      )
      0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px)
      100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px)
      0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100%
      100%/8px 8px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
      calc(100% - 16px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
      calc(100% - 10px) no-repeat,
    linear-gradient(211deg, #ff008e 0%, #46a8c3 100%);
  padding: 10px;
  box-sizing: border-box;
}
