:root {
  --shadow-color: 286deg 36% 64%;
  --shadow-elevation-low: 0.4px 0.5px 0.7px hsl(var(--shadow-color) / 0.26),
    0.7px 0.8px 1.2px -1.2px hsl(var(--shadow-color) / 0.26),
    1.5px 1.9px 2.7px -2.5px hsl(var(--shadow-color) / 0.26);
  --shadow-elevation-medium: 0.4px 0.5px 0.7px hsl(var(--shadow-color) / 0.27),
    1.3px 1.6px 2.3px -0.8px hsl(var(--shadow-color) / 0.27),
    3.2px 3.9px 5.7px -1.7px hsl(var(--shadow-color) / 0.27),
    7.6px 9.3px 13.5px -2.5px hsl(var(--shadow-color) / 0.27);
  --shadow-elevation-high: 0.4px 0.5px 0.7px hsl(var(--shadow-color) / 0.25),
    2px 2.5px 3.6px -0.4px hsl(var(--shadow-color) / 0.25),
    3.7px 4.5px 6.6px -0.7px hsl(var(--shadow-color) / 0.25),
    5.9px 7.3px 10.6px -1.1px hsl(var(--shadow-color) / 0.25),
    9.4px 11.5px 16.7px -1.4px hsl(var(--shadow-color) / 0.25),
    14.7px 17.9px 26.1px -1.8px hsl(var(--shadow-color) / 0.25),
    22.3px 27.2px 39.6px -2.1px hsl(var(--shadow-color) / 0.25),
    32.7px 40px 58.1px -2.5px hsl(var(--shadow-color) / 0.25);
}

.club-card-main {
  width: 75%;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  margin: 10px 0px 0px 10px;
  box-shadow: var(--shadow-elevation-high);
}

.club-left {
  width: 25%;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: rgb(205, 202, 255);
  background: -moz-linear-gradient(
    323deg,
    rgba(205, 202, 255, 1) 0%,
    rgba(21, 78, 162, 1) 60%
  );
  background: -webkit-linear-gradient(
    323deg,
    rgba(205, 202, 255, 1) 0%,
    rgba(21, 78, 162, 1) 60%
  );
  background: linear-gradient(
    323deg,
    rgba(205, 202, 255, 1) 0%,
    rgba(21, 78, 162, 1) 60%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdcaff",endColorstr="#154ea2",GradientType=1);
  border-radius: 10px 0px 0px 10px;
  color: rgb(255, 255, 255);
}

.club-left-top {
  width: 60%;
  height: 15vh;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 214, 226);
  border-radius: 10px;
  border: 1px solid black;
}

.club-right {
  width: 80%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: cadetblue;
  color: white;
}

.club-right-main {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-right-bottom {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 15px;
}
